* {
box-sizing: border-box;
}

html {
text-size-adjust: none;
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
}

body {
background-color: #0a192f;
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


/* Main Page Layout */

#main-content {
margin: 225px 425px;
display: flex;
flex-direction: column;
gap: 70px;
}

/* Portfolio Header */

#portfolio-header {
display: flex;
gap: 20px;
align-items: center;
}

#portfolio-header-image-container {
display: flex;
flex-direction: column;
gap: 10px;
flex-basis: 50%;
}

.portfolio-header-image {
width: 100%;
height: auto;
}


#portfolio-header-text-container {
display: flex;
flex-direction: column;
gap: 34px;
flex-basis: 50%;
}


/* About Section */

.inline-span {
display: inline;
margin-right: 5px;
}

.outline-span {
display:block;
text-align: center;
margin-top: 5px;
}

/* Style for the container to make lists inline */
.lists-container {
display: flex;
justify-content: center;
}

/* Style for each unordered list */
.lists-container ul {
list-style: none;
padding: 0;
}

/* Style for list items within each unordered list */
.lists-container ul li {
margin-right: 20px;
}

/* Style for list items within each unordered list */
.lists-style li {
margin-right: 20px; 
padding-left: 20px; 
background-repeat: no-repeat;
position: relative;
padding-bottom: 5px;
}

/* Apply the icon and color */
.lists-style li::before {
content: "\f0da"; /* Unicode for the Font Awesome arrow-right icon */
font-family: FontAwesome;
color: #64ffda;
position: absolute;
left: 0;
}

/* Style the first title in each list */
.lists-style .first-title::before {
content: "";
}

.text-none{
list-style: none;
}

/*About Section*/
#about-section {
display: flex;
flex-direction: column;
gap: 16px;
}


.about-section-content {
display: flex;
flex-direction: column;
gap: 20px;
}

#experiences-section {
display: flex;
flex-direction: column;
gap: 16px;
}

.experiences-section-content {
display: flex;
flex-direction: column;
gap: 20px;
}

.project {
display: flex;
align-items: center;
margin: 20px;
}

.project-header {
flex: 1;
padding: 20px;
}

.project-image {
max-width: 50%;
height: auto;
margin-right: 20px; /* Add space between image and project details */
}


#next-section {
display: flex;
flex-direction: column;
gap: 16px;
}

.next-section-content {
display: flex;
flex-direction: column;
gap: 20px;
text-align: center;
}

.copyright-content{
display: flex;
flex-direction: column;
text-align: center;
}

/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
#main-content {
margin: 225px 275px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
#main-content {
margin: 225px 175px;
}
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
#main-content {
margin: 225px 75px;
}
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
#main-content {
margin: 150px 50px;
}

#portfolio-header {
flex-direction: column;
}
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
#main-content {
margin: 125px 20px;
}
}