/* Icons */

.footer-icon {
    width: 25px;
    height: 25px;
}

a.icon-link {
    transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
    cursor: pointer;
    stroke-width: 5;
    margin: 0;
    transform: rotate(15deg);
}

.navbar {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
}
.navbar.hidden{
    top: -100px;
}

.nav-title-link {
    color: black;
    text-decoration: none;
}

.nav-title-link:hover {
    text-decoration: none;
}